---
title: About Me | Lactation Consultant
description: Learn more about the calm, personalised, evidence-based approach behind Your Lactation Coach.
layout: layouts/base.njk
---

<main class="bg-natural-light min-h-screen px-4 py-8 text-warm-gray">
  <section class="container mx-auto max-w-5xl">
    <div class="mx-auto max-w-3xl text-center">
    </div>
    <div class="flex flex-col items-center lg:gap-12 lg:flex-row ">
      <div class="font-sans space-y-2">
        <h1 class="mt-4 font-serif mb-4 text-5xl">A little about me</h1>
        <p>
          As a mother of five adult children and five grandchildren, I know first- hand that breastfeeding can be both beautiful
          and challenging. I have faced my own struggles and triumphs and have helped my daughters with their ups and downs.</p>
        <p>Over the years, I’ve had the privilege of <b>supporting</b> families through the incredible journey of pregnancy, birth, and
          the early days of parenting. Working in both public and private hospitals has deepened my <b>passion for nurturing new
          parents</b> during this special—and sometimes challenging—time.</p>
        <p>I’m a <b>registered and endorsed Midwife (RM) and an International Board Certified Lactation Consultant (IBCLC)</b>, with a
          strong commitment to <b>evidence-based care</b> that is also gentle, respectful, and centred around your unique needs.</p>
        <p>This work is truly <b>my calling</b>. I’m here to offer <b>guidance, reassurance</b>, and <b>practical support</b> as you navigate feeding
          your baby and settling into life as a new parent. Whether you're preparing during pregnancy or already holding your
          little one in your arms, I’m here to <b>walk alongside you</b> with kindness, expertise, and understanding.</p>
      </div>
      <div class="mt-8 w-full h-[375px] lg:min-w-[500px] lg:w-[500px] lg:h-[550px] rounded-tr-full rounded-tl-full
          border-warm-gray-light border-2 overflow-hidden">
        {% image "./src/assets/images/about-me.jpg", "Picture of Denise, Your Lactation Coach, smiling", "(min-width: 1280px) 640px, 320px", "object-cover object-center w-full h-full" %}
      </div>
    </div>

    
  </section>
</main>